@import './panel-mixins.scss';

.panelSection {
  @include panelSection;
}
.noPad {
  @include noPad;
}
.sectionTitle {
  @include sectionTitle;
}
.textarea {
  @include textarea;
}
.text {
  @include text;
}
.splitChildTitle {
  text-transform: uppercase;
  color: #0063cb;
  font-weight: 700;
}
@include childsSplitAndMerge;
