.geodisplay {
    height: calc(100% - 172.5px);
    display: flex;
}

.geodisplay__panel {
    min-width: 300px;
    padding:10px;
    height: 100%;
    overflow-y: auto;
}

.geodisplay__map {
    height: 100%;
    flex:1;
    
}