.led {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f9edec;
  margin-left: 12px;
  transition: background-color 0.3s ease;
  flex-shrink: 0;

  &:hover {
    background-color: #fcddda;
  }

  &.active {
    background-color: #10b981;

    box-shadow: 0 0 0 0 rgba(16, 185, 129, 0.7);
    animation: pulse-green 2s infinite;
  }
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(16, 185, 129, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(16, 185, 129, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(16, 185, 129, 0);
  }
}
