.shell {
  margin-bottom: 1rem;
}

.metaInfos {
  font-size: 1em;
  line-height: 1.3em;
  margin-bottom: 5px;
}

.author {
  color: black;
  font-weight: 700;
  margin-right: 10px;
}
.date {
  color: #666;
  font-size: 0.8em;
}

.text {
  font-size: 0.92em;
  line-height: 1.3em;
}
