.head {
  position: relative;
}

.withAnswers {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1rem;
}

.tools {
  list-style: none;
  font-size: 0.8rem;
  color: blue;
  padding: 0;
  margin-bottom: 1rem;
  a {
    text-decoration: none;
  }
}
