.reportStatus {
  padding: 10px;
  font-size: 0.85rem;
  padding: 0.25rem 0.625rem;
  font-weight: 500;
  color: lighten(#0a3683, 5%);
  border-radius: 0.4375rem;
  display: inline-flex;
  align-items: center;
}
