.shell {
  margin-bottom: 12px;
}

.head {
  cursor: pointer;

  &:hover {
    background-color: #e8edff;
  }
}

.infoText {
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.25em;
}

.titleShell {
  display: flex;
  align-items: center;
}

.subtitle {
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
  margin-bottom: 12px;
}

.progressBarContainer {
  width: 100%;
  height: 12px;
  background-color: #f4f6ff;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 10px;
}

.progressBarFill {
  height: 100%;
  background-color: #518fff;
  transition: width 0.3s ease;
  border-radius: 4px;
}

.tagItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 8px;

  &:last-child {
    border-bottom: none;
  }
}

.tagLabel {
  display: flex;
  flex-direction: column;
}

.tagName {
  font-weight: 500;
  font-size: 0.9em;
}

.tagCount {
  font-size: 0.8em;
}

.activityIndicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e5e7eb;
  /* Default grey */
  margin-left: 12px;
  transition: background-color 0.3s ease;
  flex-shrink: 0;

  &.active {
    background-color: #10b981;
    /* Green for activity */
    box-shadow: 0 0 0 0 rgba(16, 185, 129, 0.7);
    animation: pulse-green 2s infinite;
  }
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(16, 185, 129, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(16, 185, 129, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(16, 185, 129, 0);
  }
}
