.op {
  margin-bottom: 10px;
  position: relative;
}
.opIdentifierShell {
  font-size: 0.9em;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  margin-bottom: 3px;
}
.opIdentifier {
  text-decoration: underline;
  text-decoration-color: white;
}
.centerHelp {
  display: inline;
  margin-left: 10px;
  font-size: 0.9em;
  color: #0078f3;

  white-space: nowrap;
}

.centerHelp i::before {
  width: 15px;
  margin-right: 1px;
}
.opIdentifierShell:hover .opIdentifier {
  text-decoration-color: black;
}

.opOption {
  margin-right: 10px;
  font-size: 0.8em;
  display: inline-block;
  padding: 2px 7px;
  border-radius: 3px;
}
.opOption:not(.active) {
  background: #fafafa;
}
.opOption:hover:not(.active) {
  cursor: pointer;
}

.opOption__build.active {
  background: #c3fad5;
}
.opOption__build:hover:not(.active) {
  background: #77eda5;
}

.opOption__modify.active {
  background: #e6eefe;
}
.opOption__modify:hover:not(.active) {
  background: #bcd3fc;
}

.opOption__demolish.active {
  background: #fee9e9;
}
.opOption__demolish:hover:not(.active) {
  background: #fdc5c5;
}

.opOption.active:hover {
  text-decoration: none;
}

.opToolsShell {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
}

.opTool {
  display: inline-block;
  width: 56.75px;
  height: 56.75px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-right: 4px;
  color: #cecece;
}
.opTool:last-child {
  margin-right: 0;
}
.opTool i::before {
  width: 20px;
}

.opToolIconActive {
}
.opTool__active:hover .opToolIconActive {
  display: none;
}

.opToolIconHover {
  display: none;
}
.opTool__active:hover .opToolIconHover {
  display: inline;
}

.opMove:hover {
  color: #417dc4;
}

.opMove:hover:not(.opTool__active) {
  background: #bcd3fc;
}
.opMove.opTool__active {
  background: #9fc3fc;
  color: #417dc4;
}

.opRemove:hover {
  background: #fcbfbf;
}
.opRemove:hover i::before {
  color: #e1000f;
}
