.opsList {
    list-style: none;
    padding: 0;
    margin-top:1.5em;
}


.helpText {
    margin-top: 10px;
    font-size: .85em;
    line-height: 1.45em;
}


.createLink {
    
}

.instructionShell {
    padding:15px;
    background-color: #dae6fd;
    color:#436491;
    font-weight: bold;
    border-radius: .25rem 0.25rem 0 0;
    margin-top: 0.5em;
}
.bdgNotFound {
    margin-top:3px;
    font-size: .9em;
    opacity: .7;
}