$bckg: #00a95f;
$textColor: white;

.title {
  font-size: 1em;

  color: $textColor;
  opacity: 0.9;
  margin-bottom: 0;
  //text-transform: uppercase;
  font-weight: bold;
}

.validated {
  display: flex;
  align-items: top;
  background: $bckg;
  padding: 0.7rem 0.8rem 0.7rem 1rem;
  border-radius: 4px;
  color: $textColor;
  margin-bottom: 1.5rem;
  .sectionTitle {
    color: #2a401a;
  }
}

.iconShell {
  margin-right: 7px;
  text-align: center;
  i {
    &::before {
      color: $textColor;
      width: 20px;
      height: 20px;
    }
  }
}

.actionShell {
  font-size: 0.9em;
}

.user {
  margin-bottom: 0.2rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.userName {
  font-weight: 500;
}

.userOrganization {
  opacity: 0.8;
}
