@import 'vars.scss';

.bdgDefinition {
  margin-bottom: 2rem;
  font-size: 1.04em;

  padding-left: 10px;
  border-left: 4px solid rgb(31, 141, 73, 0.7);

  @media (min-width: $bp-md) {
    font-size: 1.1em;
    padding-left: 25px;
    border-left: 6px solid rgb(31, 141, 73, 0.7);
  }
}

.bdgDefinitionContext {
  opacity: 0.85;
}

.badgeWithoutContent::before {
  margin-right: -2px;
}
