@import 'vars.scss';

.sectionTitle {
  font-size: 0.7em;
  line-height: 1.3em;
  margin-bottom: 0.2rem;
  opacity: 0.9;
  color: black;
  text-transform: uppercase;
}
.sectionToggler {
  text-decoration: none;
  background: none;
  border: none;
}
.sectionTogglerIcon {
  margin-right: 0.4rem;
  color: #0078f3;
  font-size: 1.3em;
  display: inline-block;
  transition: transform 0.3s;
}

.sectionTogglerOpen {
  span {
    transform: rotate(90deg);
  }
}

.sectionBody {
  font-size: 0.9em;
  line-height: 1.3em;
}

.sectionListItem {
  flex: 1 0 0;
  margin-bottom: 0.8em;
}
.sectionListItem:last-child {
  margin-bottom: 0;
}
