@import "vars.scss";

.actions {
    position: absolute;
    top: 74px;
    left: 12px;
    height: 100px;
    right: auto;
    z-index: 100;
    background-color: red;
}

.shell {
    // The .shell is the invisible container containing actions and panel
    position:absolute;

    top:180px;
    right: auto;
    bottom: 10px;
    left:12px;
    z-index: 100;
}

.content {
    // Actual panel content
    background:white;
    box-shadow:0 0 0 2px rgba(0,0,0,.1);
    
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    flex-direction: column;
    max-height: 100%;

    @media (min-width: $bp-md) {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        bottom:auto;
    }
}