@import "vars.scss";

@font-face {
    font-family:"Itim";
    src: url("/fonts/Itim-Regular.ttf");
}

html, body {
    min-height: 100%;
    height: 100%;
}

/* Pages */
.pageContainer {
    padding-top:3rem;
    padding-bottom:3rem;
    max-width: 1000px;
}

.section {
    margin-bottom: 2rem;

    @media (min-width: $bp-md) {
        margin-bottom: 4rem;
    }

}
.section:last-child {
    margin-bottom: 0;
}


/* Map controls */
.maplibregl-ctrl-styles {
    padding:4px 8px;
    font-size:1.3em;
    cursor: pointer;
}

.maplibregl-ctrl-styles:hover {
    background-color: rgb(246, 246, 246);

}

.fr-icon-road-map-fill i {
    display: inline-block;
    
}

.maplibregl-ctrl-styles i::before {
    max-width: 16px;
    margin-right:5px;
    
}

.maplibregl-ctrl-styles-label {
    font-weight: 500;
}


/* Display utils */

.none {
    display: none;
}

@media (min-width: $bp-md) {
    .md-none {
        display: none;
    }
    .md-block {
        display: block;
    }
}

.resp-image {
    max-width: 100%;
    height: auto;
}

/* Text utils */
.text-center {
    text-align: center;
}

.md-text-left {
    @media (min-width: $bp-md) {
        text-align: left;
    }
}
.text-blue {
    color:#000091;
}

/* Surligneur */

.stab {
    background-color: #f4f6ff;
    padding: 0.1rem 0.3rem;
    border-radius: 0.2rem;
}

.stab--blue {
    background-color: #e8edff;
}
.stab--green {
    background-color: #dffee6;
}