@import "vars.scss";




.list {
    
    margin:3rem auto 0px auto;
    
    border-radius: 7px;
    
    @media (min-width: $bp-md) {
        width: 700px;
        max-width: 700px;
    }
    
    
}

body a.db {

    --db-radius:5px;
    --border-color:#fbdf95;
    --border-size:1px;

    --shadow-color: 44deg 36% 61%;
    box-shadow:
    0.1px 0.5px 0.5px hsl(var(--shadow-color) / 0.39),
    0.4px 1.7px 1.9px -0.9px hsl(var(--shadow-color) / 0.37),
    1.1px 4.3px 4.8px -1.9px hsl(var(--shadow-color) / 0.34),
    2.7px 10.7px 11.8px -2.8px hsl(var(--shadow-color) / 0.32)
    ;

    display: flex;
    width: 100%;
    padding:25px 20px;
    text-decoration: none;
    background-image: none;

    
    border:var(--border-size) solid var(--border-color);
    

    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    margin-bottom: 4px;

    flex-direction: column;
    @media (min-width: $bp-md) {
        flex-direction: row;
    }



    &:last-child {
    
        border-bottom-left-radius: var(--db-radius);
        border-bottom-right-radius: var(--db-radius);
    
    }
    &:first-child {
        border-top-left-radius: var(--db-radius);
        border-top-right-radius: var(--db-radius);
    
    }
    &:hover {
        background-color: #f9f9f9;
    
    }

    &.cta {
        font-weight: 500;
        padding-top:25px;
        padding-bottom:25px;
        font-size: 1.1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        span {
            max-width: 80%;
        }
        
    }

}

.title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-top:.3rem;
    line-height: 1em;

}
.desc {
    font-size: 0.94rem;
    font-weight: 400;
    color: #777;
    line-height: 1.3em;
    margin-top:.3rem;
}



.imgShell {
    background: white;
    flex-shrink: 0;
    border:1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 52px;
    height: 52px;
    width: 52px;
    padding:8px;
    
    border-radius: 5px;   
    margin-right: 1rem;
    img {
        
        width: 100%;
        height: auto;
    }
}