.btn {
  background: white;
  position: absolute;
  bottom: 30px;
  right: 50px;
  z-index: 300;
  padding: 5px;
}

.modal {
  background: white;
  position: absolute;
  bottom: 30px;
  right: 50px;
  z-index: 301;
  padding: 5px;
  width: 300px;
}
