.geodisplay {
    height: calc(100% - 172.5px);
    display: flex;
}

.geodisplay__panel {
    min-width: 350px;
    padding:20px 10px;
    height: 100%;
    overflow-y: auto;
}

.geodisplay__map {
    height: 100%;
    flex:1;
    
}

.searchLabel {
    font-size: .9em;
  line-height: 1.3em;
  opacity: 1;
  font-weight: 600;
  margin-bottom: .2rem;
}