.banPop {
  padding: 0.7rem;
  display: block;
}

.banPopTitle {
  font-size: 0.9em;
  line-height: 1.3em;
  color: black;
  opacity: 0.9;
  margin-bottom: 0.7rem;
  text-transform: uppercase;
}

.banPopBody {
  font-size: 1.2em;
  line-height: 1.2em;
  color: black;
  opacity: 0.8;
  margin-bottom: 0.8rem;
}

.banPopFooter {
  font-size: 1em;
  line-height: 1.2em;
  color: black;
  opacity: 0.5;
  margin-bottom: 0;
}
