@import "vars.scss";

.shell {
    
        position:absolute;
        
        // During summer games
        top: 130px;


        // Before summer games, top value was 100
        //top:100px;
        right:0;
        bottom: 0;
        left:0;
        padding:40px 18px 12px 18px;

        z-index: 100;
        background:white;
    
        box-shadow:0 0 0 2px rgba(0,0,0,.1);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        @media (min-width: $bp-md) {
            max-width: 400px;
            width: 400px;
            right: auto;
            left:12px;

            // Before summer games, top value was 75
            top:75px;

            bottom: 10px;

            border-top-left-radius: 0px;
            border-top-right-radius: 0px;

            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    
    
}

.summerGamesTitle {
    font-size: .85em;
}
.summerGamesBody {
    font-size: .8em;
    line-height: 1.25em;
    margin-bottom: .4rem;
}

.scrollable {
    overflow-y: auto;
    max-height: 100%;
}

.closeLink {
    position:absolute;
    top:0;
    right:0;
    padding: .8rem;
    color: var(--color-blue-france);
    opacity: .8;
    background: none;
    text-decoration: none;
    i::before {
        width: 25px;
        height: 25px;
    }
}
.closeLink:hover {
    background: none;
}

.title {
    margin-bottom:4px;
}
.rnbidShell {
    background: var(--background-alt-blue-france);
}
.rnbidShell__copy {
    background: var(--background-contrast-blue-france);
    background-color: #bccdff;
    color:#273961;
    font-size: .9em;
    padding:.3rem;
    text-align:center;
}
.rnbidShell__copy i {
    opacity: .8;
}
.rnbidShell__copy:hover {
    background: #83a9ff;
    color:#171d2e;
    cursor: pointer;
}
.rnbidShell__id {
    padding: 1.3rem 1rem;
    font-size: 1.2em;
    text-align:center;
    font-weight: 500;
}
.section {
    padding-bottom: 1.7rem;
}


.sectionTitle {
    font-size: .9em;
    line-height: 1.3em;
    //opacity: .6;
    color:#0078f3;
    font-weight: 600;
    margin-bottom: .2rem;
}
.sectionBody {
    font-size: .9em;
    line-height: 1.3em;
}

.sectionListItem {
    margin-bottom:.8em
}
.sectionListItem:last-child {
    margin-bottom: 0;
}

.small-left-padding {
    padding-left: 2px;
}