.title {
  margin-bottom: 4px;
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;

  .navItem {
    //padding: 10px 5px;
    margin: 0;
    font-size: 0.85em;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
  .navLink {
    background: none;
    padding: 4px 10px;
    font-weight: 500;
    color: lighten(#0a3683, 5%);
    border-radius: 7px;
    display: inline-flex;
    align-items: center;

    img {
      width: 16px;
      height: 16px;
      margin-right: 3px;
      filter: brightness(0) saturate(100%) invert(34%) sepia(88%)
        saturate(1698%) hue-rotate(222deg) brightness(92%) contrast(91%);
    }
    &:hover {
      background: lighten(#e7edff, 2%);
    }
  }

  .navLinkCurrent {
    opacity: 1;
    background: #e7edff;

    img {
      filter: brightness(0) saturate(100%) invert(34%) sepia(88%)
        saturate(1698%) hue-rotate(222deg) brightness(92%) contrast(91%);
    }
    &:hover {
      background: #e7edff;
      cursor: default;
    }
  }
}
