.title {
    margin-bottom: 4px;
}
.rnbidShell {
    background: var(--background-alt-blue-france);
    display: flex;
    justify-content: space-between;
}
.rnbidShell__copy {
    background: var(--background-contrast-blue-france);
    background-color: #bccdff;
    color: #273961;
    font-size: 0.9em;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}
.rnbidShell__copy i {
    opacity: 0.8;
}
.rnbidShell__copy:hover {
    background: #83a9ff;
    color: #171d2e;
    cursor: pointer;
}
.rnbidShell__id {
    padding: 1.3rem 1rem;
    font-size: 1.2em;
    text-align: center;
    font-weight: 500;
}
