.stats {
    h1 {
        text-align: center;
    }
}

.stat-card {
    border: 1px solid var(--border-default-grey);
    
    
    text-align: center;

    h1 {
        text-align: center;
        color: var(--blue-france-sun-113-625);
    }
}