.tool {
    padding: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;

    form {
        margin-bottom: 2rem;
    }

}
.toolLinkShell {
    margin-top: .6rem;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    
}


.tool--blue {
    background-color: #dde5ff;

    .toolTitle, .toolSubtitle {
        color:#1d2437;
    }   
    
}

.tool--yellow {
    background-color: #fef7da;

    .toolTitle, .toolSubtitle {
        color:#3f3a20;
    }   
    
}

.tool--red {
    background-color: #ffbeb4;
    .toolTitle, .toolSubtitle {
        color:#5d2c20;
    }   
}
.tool--archipel {
    background-color: #e5fbfd;
    .toolTitle, .toolSubtitle {
        color:#233e41;
    }
}

.tool--pink {
    background-color: #fef3fd;
    .toolTitle, .toolSubtitle {
        color:#502e4d;
    }
}

.tool--green {
    background-color: #e6feda;

    .toolTitle, .toolSubtitle {
        color:#2a401a;
    }   
    
}

.toolTitle {
    font-size: 1.6em;
    margin-bottom: .3rem;
}
.toolSubtitle {
    font-size: 1.05em;
    //font-weight: 600;
    opacity: .90;
}