name: Playwright E2E Tests
on:
  pull_request:
    branches: [main]
jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Récupération du code
        uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
        name: Install pnpm

      - name: Install Node.js
        uses: actions/setup-node@633bb92bc0aabcae06e8ea93b85aecddd374c402
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Installation des dépendances NPM
        run: pnpm install --frozen-lockfile

      - name: Installation des navigateurs Playwright
        run: npx playwright install --with-deps

      - name: Obtenir l'URL de preview Vercel
        uses: zentered/vercel-preview-url@e5fb141da2e3d62692b38e6c7c17477aad214165
        id: vercel_preview_url
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
        with:
          vercel_team_id: 'team_XNy8GPxmIHotpZqqeAyKBm79'
          vercel_project_id: 'prj_AGcOI1rKi80YLDCPDpwEnNHyJ1wc'

      - name: Attente du déploiement de la preview
        uses: UnlyEd/github-action-await-vercel@3d536f03d951e603b21701814ba211dcbbafaf93
        id: await-vercel
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
        with:
          deployment-url: ${{ steps.vercel_preview_url.outputs.preview_url }}
          timeout: 180
          poll-interval: 1

      - name: Execution des tests Playwright
        run: npx playwright test
        env:
          BASE_URL: https://${{ steps.vercel_preview_url.outputs.preview_url }}
          TEST_ACCOUNT_EMAIL: ${{ secrets.TEST_ACCOUNT_EMAIL }}
          TEST_ACCOUNT_PASSWORD: ${{ secrets.TEST_ACCOUNT_PASSWORD }}

      - name: Ajout du commentaire dans la PR
        uses: daun/playwright-report-summary@be9e270edd5ad86038604d3caa84a819a6ff6fed
        if: always()
        with:
          report-file: test-results.json
          comment-title: 'Résultats des tests E2E Playwright'

      - name: Mise à disposition des résultats
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        if: always()
        with:
          name: Résultats
          path: playwright-report/
          retention-days: 7
